<!DOCTYPE HTML>
<% if session[:game].game_rules.winner(session[:game].board.spaces) == false %>
  <h1> Its a Tie!</h1>
<% else %>
  <h1><%=session[:game].game_rules.winner(session[:game].board.spaces)%> Has Won!</h1>
<% end %>
<a href="/play_again">Play Again</a>